.navbutton{
    background-color:lawngreen; 
    padding: 11px 25px;
    width:100px;
    text-align:center;
    display:inline-block;
    position:relative;
    /* I'll stay relative to you */
}

.dropdown-box{
    display:none;
    position:absolute; 
    /* idc about other stuffs i'll be where i want to be  */
    z-index:99;
    padding-top:20px;
    margin-left:-30px;
}

.navbutton:hover .dropdown-box{
    display:block;
}

.dropdown-box .navbutton{
    background-color: cadetblue;
}

.dropdown-box .navbutton:hover{
    background-color:rgba(255, 235, 205, 0.477);
    transition-duration:1s;
}
